*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bottom{
    padding-top: 50px;
    background-color: white;
}
.medi{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 15px;
    padding: 10px;
  }
  hr{
    margin-bottom: 20px;
  }
  .ico{
    color: white;
    text-align: center;
  }
  .twii{
    cursor: pointer;
    /* background-color: rgb(48, 46, 46); */
    color: #1DA1F2;
    border-radius: 10px;
    text-align: center;
    /* padding:10px 25px; */
    margin: 20px;
  }
  .facee{
    cursor: pointer;
    /* background-color: rgb(48, 46, 46); */
    color: #4873cf;
    border-radius: 10px;
    text-align: center;
    /* padding:10px 25px; */
    margin: 20px;
  }
  .linkk{
    cursor: pointer;
    /* background-color: rgb(48, 46, 46); */
    color: #078dd4;
    border-radius: 10px;
    text-align: center;
    /* padding:10px 25px; */
    margin: 20px;
  }
  .whatt{
    cursor: pointer;
    /* background-color: rgb(48, 46, 46); */
    color: brown;
    border-radius: 10px;
    text-align: center;
    /* padding:10px 25px; */
    margin: 10px;
  }
  
  .con:hover{
    background-color: brown;
    transition: 0.9s;
  }
  .copyright{
    color: black;
    font-size: 15px;
    text-align: center;
    padding:5px;
  }
  .copyrigt{
    color: brown;
    font-size: 15px;
    text-align: center;
    padding-bottom: 10px;
  }

  @media screen and (max-width:900px) {
    .copyright{
      font-size: 13px;
    }
    .copyrigt{
      font-size: 13px;
    }
    .ico{
      font-size: 13px;
    }
  }