*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    display: flex;
    overflow: hidden;

}
.right{
    width: 100%;
    padding-left: 25%;
}
.btn2{
    position:absolute;
    top:2%;
    right:2%;
    padding:5px 10px;
    font-size:20px;
    color:white;
    background:#070727;
    z-index:1000;
    display:none;
    cursor: pointer;
    position:fixed;
    border-radius:10px;
}
@media screen and (max-width:950px) {
    .left{
        display: none;
    }
    .right{
        padding-left: 0;
    }
    .btn2{
        display: block;
    }
}