*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .nav-bar{
    background-color: #070727;
    width: 25%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    padding-top: 20px;
  } 
  .nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .logo{
    width: 120px;
    height: 120px;
    border-radius: 10px;
  }
  .neme{

    color: white;
    font-size: 20px;
    padding-top: 15px;
  }
  .media{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 15px;
    padding: 10px;
  }
  .icon{
    cursor: pointer;
    background-color: #030311;
    color: white;
    text-align: center;
  }
  .con{
    cursor: pointer;
    background-color: #030311;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding:5px 5px;
    margin: 5px;
  }
  .con:hover{
    background-color: blue;
    transition: 0.9s;
  }
  ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 15px;
  }
  ul li{
    color: #858080;
    font-size: 20px;
    cursor: pointer;
  }
  li:hover{
    color: blue;
    transition: 0.9s;
  }
  .copyright{
    color: white;
    font-size: 20px;
    text-align: center;
    padding:5px;
  }
  .copyrigt{
    color: blue;
    font-size: 20px;
    text-align: center;
  }
  a{
    text-decoration: none;
  }