*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#port{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 50px;
    margin-bottom: 60px;
    padding: 0px 20px;
}
.port-title{
    color: brown;
    /* border-bottom: 5px solid #32b9a0; */
    width: 3%;
    font-size: 20px;
    /* margin-left: 20px; */
}
.kilo{
    color: brown;
    font-size: 20px;
}
.link{
    display: flex;
    gap: 40px;
    justify-content: space-between;
}
.description{
    color: gray;
}
.title{
    font-size: 20px;
    font-weight: 700;
}
.card-wrap{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.card{
    background-color: white;
    
}
.port-up{
    display: flex;
    gap: 20px;
}
.port-up2{
    display: flex;
    gap: 20px;
     margin-top: 100px;
    
}
.portfolio{
    width: 100%;
}

.weather{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}
.description{
    text-align: justify;
    font-size: 15px;
    line-height: 30px;
}
@media screen and (max-width:900px) {
    .port-up{
        flex-direction: column;
    }
    .port-up2{
        display: flex;
        gap: 20px;
        margin-top: 10px;
        
    }
    .description{
        font-size: 13px;
    }
    .card-wrap{
        display: flex;
        flex-direction: column;
        /* gap: 20px; */
    }
}