*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#resume{
    width: 100%;
    background-color: black;
}
one{
    display: flex;
    color: #666565;
}
.ic-text{
    color: black;
}
.ic{
    color: #030372;
}
.resume-title{
    color: #32b9a0;
    border-bottom: 5px solid #32b9a0;
    width: 3%;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.resum{
    display: flex;
    padding-right: 20px;
    gap: 50px;
}
.resum-left{
    width: 100%;
    display: flex;
    flex-direction: column;

}
.resum-right{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.work{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 20px;
    padding-bottom: 15px;
}
.expo{
    padding-left: 20px;
    font-size: 18px;
    font-weight: 900;
    color: #32b9a0;
}
.educ{
    padding-left: 20px;
    font-size: 18px;
    font-weight: 900;
    color: #32b9a0;
}
.lio{
    color: white;
    font-size: 18px;
    font-weight: 700;
}
.mio{
    color: white;
    font-size: 18px;
}
h5{
    color: grey;
    font-size: 16px;
}
.wok-txt{
    text-align: justify;
    line-height: 35px;
    font-size: 15px;
    color: white;
}
.tnt{
    text-align: justify;
    font-size: 15px;
    line-height: 35px;
    color: white;
}
@media screen and (max-width: 900px){
    .resum{
        flex-direction: column;
        gap: 15px;
    }
    .resume-title{
        font-size: 20px;
    }
    .lio{
        font-size: 15px;
    }
    .mio{
        font-size: 15px;
    }
    h5{
        font-size: 15px;
    }
    .wok-txt{
        font-size: 13px;
    }
    .tnt{
        font-size: 13px;
    }
    .expo{
        font-size: 18px;
    }
    .educ{
        font-size: 18px;
    }
    .tnt{
        font-size: 13px;
    }
}