*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
one{
    display: flex;
    color: #666565;
}
.ic-text{
    color: black;
}
.ic{
    color: #030372;
}
.resume-title{
    color: #030372;
    border-bottom: 5px solid #030372;
    width: 3%;
    font-size: 25px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.resum{
    display: flex;
    padding: 0px 20px;
    gap: 50px;
}
.resum-left{
    width: 100%;
    display: flex;
    flex-direction: column;

}
.resum-right{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.work{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 20px;
    padding-bottom: 15px;
}
.exp ,.edu{
    padding-left: 20px;
    font-size: 22px;
    font-weight: 900;
    color: #030372;
}
h3{
    color: black;
    font-size: 22px;
    font-weight: 700;
}
h4{
    color: #030372;
    font-size: 22px;
}
h5{
    color: grey;
    font-size: 20px;
}
.work-txt{
    text-align: justify;
    line-height: 35px;
    font-size: 20px;
}
.tnt{
    text-align: justify;
    font-size: 20px;
    line-height: 35px;
}
@media screen and (max-width: 900px){
    .resum{
        flex-direction: column;
        gap: 15px;
    }
    .resume-title{
        font-size: 20px;
    }
    h3{
        font-size: 18px;
    }
    h4{
        font-size: 18px;
    }
    h5{
        font-size: 18px;
    }
    .work-txt{
        font-size: 15px;
    }
    .tnt{
        font-size: 15px;
    }
}