*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ola{
    color: #030372;
    padding: 10px;
    font-size: 25px;
    font-weight: 900;
}
#services{
    width: 100%;
    padding: 0px 20px;
}
.service-title{
    color: #030372;
    border-bottom: 5px solid #030372;
    width: 10%;
    margin-bottom: 10px;
}
.service{
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 30px 0px;
}
.service-left{
    background-color: #e9e8e8;
    width: 100%;
    padding:15px 20px;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
span{
    text-align: justify;
    padding: 80px 30px 5px 30px;
    line-height: 30px;
}

.filed{
    display:flex;
    flex-direction:column;
    gap:20px;
    margin-top:10px;
}
.feed{
    display:flex;
}
.serv-text{
    font-weight: bold;
}
a{
    text-decoration:none;
    font-size: 20px;
}
.research-text{
    text-align: justify;
    line-height: 35px;
    font-size: 20px;
}
@media screen and (max-width:950px){
    .service{
        flex-direction: column;
        padding: 10px 0px;
    }
    .research{
        display: none;
    }
    .web{
        display: none;
    }
    h2{
        display: block;
        text-align: center;
    }
}