*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#skill{
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: white;
}
.skill-title{
    /* border-bottom: 5px solid #32b9a0; */
    width: 2%;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    color: brown;
}
.skills{
    display: flex;
    align-items: center;
    gap: 100px;
}
.skill-left, .skill-right{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.bak{
    background-color: grey;
    border-radius: 100px;
    width: 85%;
    height: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.heading{
    font-size: 15px;
    padding: 2px 20px;
    color: black;
}
.html{
    background-color: brown;
    border-radius: 100px;
    height: 5px;
    width: 100%;
}
.sass{
    background-color: brown;
    border-radius: 100px;
    height: 5px;
    width: 50%;
}
.skill-html{
    display:flex;
}
.skill-css{
    display:flex;
}
.skill-java{
    display:flex;
}
.skill-boot{
    display:flex;
}
.skill-react{
    display:flex;
}
.skill-canva{
    display:flex;
}
.skill-com{
    display:flex;
}
.skill-play{
    display:flex;
}
.skit{
    font-size:15px;
    color: black;
}
.css{
    background-color: brown;
    height: 5px;
    border-radius: 100px;
    width: 90%;
}
.tail{
    background-color: brown;
    height: 5px;
    border-radius: 100px;
    width: 90%;
}
.tal{
    background-color: brown;
    height: 5px;
    border-radius: 100px;
    width: 90%;
}
.javascript{
    background-color: brown;
    height: 5px;
    border-radius: 100px;
    width: 75%;
}
.bootstrap{
    background-color: brown;
    height: 5px;
    border-radius: 100px;
    width: 90%;
}
.react{
    background-color: brown;
    height: 5px;
    border-radius: 100px;
    width: 80%;
}

.type{
    background-color: brown;
    height: 5px;
    border-radius: 100px;
    width: 50%;
}
.ract{
    background-color: brown;
    height: 5px;
    border-radius: 100px;
    width: 70%;
}
.reactI{
    background-color: brown;
    height: 5px;
    border-radius: 100px;
    width: 70%;
}
.canva{
    background-color: brown;
    height: 5px;
    border-radius: 100px;
    width: 70%;
}
.com{
    background-color: brown;
    height: 5px;
    width: 70%;
    border-radius: 100px;
}
.player{
    background-color: brown ;
    height: 5px;
    width: 90%;
    border-radius: 100px;
}
@media screen and (max-width: 900px){
    .skills{
        flex-direction: column;
        gap: 10px;
    }
    .skill-title{
        font-size: 20px;
    }
    .skill-html{
    display:flex;
}
.skill-css{
    display:flex;
}
.skill-java{
    display:flex;
}
.skill-boot{
    display:flex;
    /* justify-content:space-between; */
    /* padding-right:60px; */
}
.skill-react{
    display:flex;
    /* justify-content:space-between; */
    /* padding-right:60px; */
}
.skill-canva{
    display:flex;
    /* justify-content:space-between; */
    /* padding-right:60px; */
}
.skill-com{
    display:flex;
    /* justify-content:space-between; */
    /* padding-right:60px; */
}
.skill-play{
    display:flex;
}
.skill-left{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.skill-right{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* padding-left:10px; */
    /* padding-right:20px; */
    }
    .heading{
        font-size: 13px;
    }
    .skit{
        font-size: 13px;
    }
}